body {
    background-color: #EAEAEA;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Andale Mono" !important;
}

.body-read {
    height: 95vh;
    display: grid;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 200px;
}

.container--post, .container--read {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
}


form {
    display: grid;
    grid-template-rows: 1fr 200px;
    height: 100%;

}

form .content {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}


.content--read .header div{
    margin-bottom: 10px;
}

input:not([type="submit"]) {
    height: 40px;
}

input, textarea {
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 15px;
}

textarea {
    padding-top: 10px;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.select-files {
    display: flex;
}

.button.file-button {
    width: 100%;
    position: relative;
}


#displayimage {
    position: absolute;
    width: 40px;
    left: 6px;
    height: 40px;
    object-fit: cover;
}

.button-cont, .button-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09B6A9;
    color: white;
    padding: 15px 40px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    border: 0;
}

.button-inline {
    background-color: #09B6A9;
    width: 100%;
    color: white;
    font-size: 14px;
    border: 0;
}

.flex {
    display: flex;
}

.button--yellow {
    background-color: #F3AF2D;
}

/*
a.button {
    width: auto;
}
*/

a.button--full-width, input.button--full-width {
    width: 100%;
}

.button--delete {
    background-color: #ff707d;
    text-decoration: underline;
    color: red;
    border: none;
}

.button--greyedout {
    background-color: #cdcdcd;
}

h1 {
    color: #1d743a;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.success {
    text-align: center;
    font-size: 25px;
    color: #09B6A9;
    margin-bottom: 20px;
}

.warning {
    color: #F3AF2D;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.success--mini {
    font-size: 16px;
    color: green;
}

.code {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-container {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}
.image-container img {
    max-width: 100%;
}


.hide {
    display: none;
}

.show {
    display: block;
}

#generated-code {
    background-color: transparent;
    border: 0px;
    font-size: 50px;
    width: 250px;
    text-align: center;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #1d1d1d;
}

#copy-success {
    position: absolute;
    bottom: 150px;
    width: 100%;
}

.input {
    margin: auto 20px;
    display: grid;
    align-items: center;
    text-align: center;
}

.input label {
    padding-bottom: 10px;
}

#input-code {
    margin: 0;
}
